.img-circle {
    width: 100px;
    margin-top: -25px;
    margin-left: -19px;
}
.form-login{
     float: left;
     margin-left: 5%;
    margin-top: 10%;
}
.formularios-login{
    margin-left: 30%;
}
.cuerpo{
   background-color: dodgerblue; 
}

